---
import BaseLayout from '../layout/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Servicios from '../components/Servicios.astro'
import Planes from '../components/Planes.astro'
import Contacto from '../components/Contacto.astro'
---

<BaseLayout title="Planes de Asistencia Privada – Sitio en Construcción">
  <section id="inicio">
    <Hero />
  </section>

  <section id="planes">
    <Planes />
  </section>

  <section id="servicios">
    <Servicios />
  </section>

  <section id="contacto">
    <Contacto />
  </section>
</BaseLayout>
