---
import { SEO } from '../data/seo'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
import FloatingWhatsApp from '../components/FloatingWhatsApp.astro'

const { title = SEO.meta.title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Global Styles -->
    <link rel="stylesheet" href="/styles/global.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17791440821"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'AW-17791440821')
    </script>
    <!-- Top Disclaimer -->
    <meta name="description" content={SEO.meta.description} />
  </head>

  <body class="min-h-screen flex flex-col bg-gray-50 text-gray-900">
    <Header />
    <FloatingWhatsApp />

    <main class="flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
